<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CipherStorm - Add predator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <h1>CipherStorm</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:red;">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form action="/predators/add" method="post" enctype="multipart/form-data">
    <div class="container">
            <div class="main-content">
                <h1>Picture(s)</h1>
                <input type="file" class="file-input" accept="image/*" name="images" multiple>
                <br>
            </div>
            <div class="other-content">
                    <h1>Add Person</h1>

                    <label for="name">Name/Username:</label>
                    <input type="text" id="name" name="name" required style="width: 100%;">

                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" style="width: 100%;">

                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" style="width: 100%;">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" style="width: 100%;">

                    <label for="ipaddress">IP Address:</label>
                    <input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" style="width: 100%;">
                    </br>

                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>

                    <label for="socials">Socials:</label>
                    <textarea id="socials" name="socials" placeholder="e.g., Twitter, Facebook"></textarea>

                    <label for="label">Label(s):</label>
                    <input type="text" id="label" name="label" placeholder="e.g., Pedophile, Groomer, DNI" style="width: 40%;">
                    </br>

                    <label for="convicted">Convicted?:</label>
                    <input type="checkbox" id="convicted" name="convicted">
                    </br>
                    <button type="submit">Add Person</button>
                    <button type="button" onclick="window.location.href='/predators'">Cancel</button>
            </div>
        </div>
    </form>
</body>
</html>