<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CipherStorm - Editing {{ predator.name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <h1>CipherStorm</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:red;">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form method="post" action="/predators/edit/{{ predator.id }}" enctype="multipart/form-data">
    <div class="container">
        <div class="other-content" style="margin-right: 10px;">
            <h2>Images</h2>
            <p style="color: grey;"><strong>Disclaimer: If your gonna add images please make sure they dont have a space in the filename</strong>, images you've submitted will be shown in the viewer it is not shown here for styling reasons (will be temporary), you can also select multiple images</p>
            <input type="file" class="file-input" accept="image/*" name="images" multiple>
        </div>

        <div class="main-content">
            <h1>Editing {{ predator.name }}</h1>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name/Username" value="{{ predator.name }}" style="width: 400px;" required>

            <label type="text" for="address">Address:</label>
            <input type="text" id="address" name="address" placeholder="Address" value="{{ predator.address }}" style="width: 350px;">

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" placeholder="Phone" value="{{ predator.phone }}">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" value="{{ predator.email }}">
            </br>

            <label for="ipaddress">IP Address:</label>
            <input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" value="{{ predator.ipaddress }}">
            </br>

            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Description">{{ predator.description }}</textarea>

            <label for="socials">Socials:</label>
            <textarea id="socials" name="socials" placeholder="Socials (e.g., Twitter, Facebook)">{{ predator.socials }}</textarea>
            </br>

            <label for="convicted">Convicted?:</label>
            <input type="checkbox" id="convicted" name="convicted" class="checkbox" {% if predator.convicted %}checked{% endif %}>
            </br>
            <button type="submit">Update {{ predator.name }}</button>
        </div>
    </form>
</body>
</html>