body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  background: #e5f1ff;
  color: #000;
}

h1 {
  text-align: left;
  margin: 10px;
  font-size: 47px;
}

h3 {
  text-align: left;
  margin: 10px;
  opacity: 0.3;
}

p {
  margin: 10px;
  color: #000000;
  text-align: center;
}

h2 {
    text-align: center;
    margin: 10px;
}

h4 {
  text-align: left;
  margin: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("images/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px); /* Adjust blur amount */
    z-index: -1;
}

.login-box {
    text-align: center;
    width: 300px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #c4d9f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.login-box input,
.login-box button {
  margin: 5px 0;
}

/* Top Tabs */
.tabs {
  display: flex;
  background: linear-gradient(to bottom, #f7f1d0, #ecd1b0);
  padding: 5px;
}

.tab {
  padding: 5px 12px;
  margin-right: 4px;
  background: #e8f4ff;
  cursor: pointer;
}

/* Layout Columns */
.main {
  display: flex;
  height: calc(100vh - 40px);
}

.left, .center, .right {
  padding: 10px;
  border-right: 1px solid #aac0de;
  overflow-y: auto;
}

.left {
  width: 250px;
  background: #f2f9ff;
}

.center {
  flex: 1;
  background: #ffffff;
}

.right {
  width: 300px;
  background: #f8fcff;
  border-right: none;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #f0f0f0, #ccc);
    border: 1px solid #aaa;
    box-shadow: 
        0 3px 6px rgba(0,0,0,0.2),
        inset 0 1px 0 #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #f0f0f0, #ccc);
    border: 1px solid #aaa;
    border-radius: 50px;
    box-shadow: 
        0 3px 6px rgba(0,0,0,0.2),
        inset 0 1px 0 #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #c4d9f1;
  box-sizing: border-box;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #9ab7d3;
  background: #f0f8ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.5s ease, background 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

th, td {
  border: 1px solid #c4d9f1;
  padding: 5px;
  text-align: left;
  background: #fdfefe;
}