body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #343a40;
}

.main-content {
    padding: 20px;
    font-size: 16px;
    color: #495057;
}

.navigation {
    width: auto;
    padding: 5px;
    background-color: #acacac;
    border-radius: 5px;
}

.navigation-tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}