<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CipherStorm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <div class="login-box">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo" width="60" height="60">
        <p>Please contact the local admin to make you an account for CipherStorm</p>
        <a href="{{ url_for('index') }}" class="back-link">Back to Login</a>
    </div>
</body>
</html>